body {
    background-image: url(../img/4.png);
    background-size: 100%;
    background-attachment: fixed;
}

.img {
    display: none;
}

.b {
    size: 24px;
    color: white;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.b:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.fa {
    opacity: 0.8;
    size: 24px;
    color: white;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.fa:hover {
    opacity: 1;
    background-color: white;
    color: black;
    text-decoration: none;
}

form {
    margin: 20px 20%;
    width: 60%;
    text-align: center;
}

select, input, textarea {
    float: left;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    transition-duration: 0.4s;
    appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
    outline: none;
}

select:focus, select:hover, input:hover, input[type=submit]:hover, input[type=number]:focus,
textarea:hover, textarea:focus {
    opacity: 1;
    outline: none;
    background-color: white;
    color: black;
}

@media screen and (max-width: 1200px) {
    .img {
        display: table;
        width: 100%
    }

    body {
        background-image: none;
        background-color: black;
    }
}